<div id="tree">
  <h2>Does the data have a known deterministic relationship?</h2>
  <ul>
    <li>
      <h3>No</h3>
      <p class="text hidden">How do we want to learn from the data?</p>
      <ul>
        <li>
          <h4>Feed data to a computer model in order to predict future outcomes without assumptions</h4>
          <p class="text hidden">Do you know the variable that is the output (or dependent variable or response or target)?</p>
          <ul>
            <li>No
              <p class="text hidden">Use Unsupervised Learning</p>
            <li>Yes
              <p class="text hidden">Is the output well defined and exist in the data?</p>
              <ul>
                  <li>No
                  <p class="text hidden">Use Reinforced Learning</p>
                  </li>
                  <li>Yes
                  <p class="text hidden">Use Supervised Learning</p>
                  </li>
              </ul>
            </li>
          </ul><span class="back hidden">Back</span>
        </li>
        <li>
          <h4>Gather sample and under certain circumstances make a qualified statement about the population</h4>
          <p class="text hidden"> Use Statistics Modeling</p>
        </li><span class="back hidden">Back</span>
      </ul>
    </li>
    <li>
      <h3>Yes</h3>
      <p class="text hidden">Use Pure Math Model</p>

    </li><span class="back hidden">Back to Start</span>
  </ul>
</div>